#cartDetails_div{

    display: flex;
    justify-content: space-around;
    background-color: rgba(48,54,61,255);
    padding-top: 1rem;
    padding-bottom:1rem;
    border-radius: 20px;

}
h2{
    /* background-color:rgb(139, 230, 230); */
    background-color: rgba(48,54,61,255);
    color: white;
    padding-bottom: 10px;
}
#btn_div{
    border-radius: 20px;
}

span{
    background-color: rgba(48,54,61,255);
    color:white;
    margin-right: 50px;
}

#addressPage_button{
    background-color: rgb(202, 204, 192);
    padding: 0.5rem;
    margin-left: 0px;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:.8rem;
    padding-bottom: .8rem;
    border-radius: 20px;
    
}

/* append data div */


#cartProducts_div {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: auto;
    margin-top: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

#cartProducts_div>div{
    width: 250px;
    margin: auto;
    border: 1px solid white;
    border-radius: 20px;

}
img{
    width: 250px;
    height: 250px;
    border-radius: 20px;  
}

p{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}
button{
    background-color: bisque;
    color: black;
    padding: 0.5rem;
    margin-left: 0.5rem;
    
}

#cartProducts_div>div>div:nth-child(3) {
    display: flex;
    justify-content:space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 160px;
    margin: auto;  
}


/* Responsive code */
@media screen and (min-width: 541px) and (max-width:1130px) {
 
 
    .navbar_div{
    
        width: 95%;
        margin: auto;
        margin-right: 200px;
      
    }
    #navbarTag{
        font-size: 20px;
    }
    #logo{
        font-size: 30px;
    }
 
    #cartDetails_div{
     width: 95%;
     margin: auto;
     margin-top: 30px;
 
    }
 
 
    /* Product div section */
 
    #cartProducts_div{
        display:grid;
        grid-template-columns: repeat(2,2fr);
        margin-top: 50px;
    
    }
   
    #products_div>img{
        width:100px ;
        height: 150px;
    }
 
 }
 




@media screen and (min-width: 280px) and (max-width:540px) {
 
   #heading{
       text-align: center;
       font-size: 30px;
       margin-top: 50px;
       margin-bottom: 50px;
   }
   #navbar>.navbar_div{
   
       width: 100%;
       margin: auto;
     
   }
   #navbarTag{
       font-size: 12px;
   }
   #logo{
       font-size: 18px;
   }

   #cartDetails_div{
    width: 90%;
    margin: auto;
    margin-top: 30px;

   }
   #addressPage_button{
    width: 130px;
    text-align: center;
   }
   #CartCountNumberDiv{

    font-size: 12px;
    margin-bottom: 20px;
   }


   /* Product div section */

   #cartProducts_div{
       display:grid;
       grid-template-columns: repeat(1,1fr);
       margin-top: 50px;
   
   }
  
   #products_div>img{
       width:100px ;
       height: 150px;
   }

}


