.otp_div{
    text-align: center;

}

input{
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    background-color: rgb(214, 209, 209);
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: 2rem;
    color: black;
    text-align: center;
    font-size: 20px;
}
button{
    background-color: aqua;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    color:black;
    margin-top: 1.5rem;
    border-radius: 5px;

}




/* *,body,html{
    text-align: center;;
}

#Otp_Page{
    display: flex;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
   
    border-radius: 10px;
}

.label_div{
    display: grid;
    grid-template-rows: repeat(1,4fr);
    gap: 90px;
   margin: auto;
 
}
.label_div{
  width: 50px;
  height: 50px;
 

}
input{
    width: 50px;
    height: 50px;
    margin: auto; */
    /* background-color: rgb(168, 167, 170); */
    /* background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
#submit_button{
    margin-top: 30px;
    color: black;
    width:120px;   
} */
/* #submit_button:hover{
    background-color: rgb(159, 223, 235);
}


@media screen and (min-width: 541px) and (max-width:1130px) {

    .navbar_div{
    
       width: 100%;
       margin: auto;
     
    }
    #navbarTag{
       font-size: 20px;
    }
    #logo{
       font-size: 30px;
    }
    #heading{
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #Otp_Page{
    
    width: 400px;
    font-size: 20px;
    text-align: center;
    
    
    }
    input{
        background-color: gray;
        color: white;
        font-size: 20px;
    }
    
    #submit_button{
    width: 250px ;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;
    }  
    
    }
    

@media screen and (min-width: 280px) and (max-width:540px) {

    .navbar_div{
    
       width: 100%;
       margin: auto;
     
    }
    #navbarTag{
       font-size: 13px;
    }
    #logo{
       font-size: 20px;
    }
    #heading{
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    #Otp_Page{
    
    width: 300px;
    font-size: 20px;
    text-align: center;
    
    
    }
    input{
        background-color: gray;
        color: white;
        font-size: 20px;

    }
    
    #submit_button{
    width: 150px ;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;
    }  
    
    } */
    