*,html,body,div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.navbar_div{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    margin-bottom: 2rem;
   
}

ul {
    list-style: none;

}
li {
    margin-right: 1rem;
}
/* css for product div */

#heading{
    margin-top: 30px;
    margin-left: 30px;
    
}

#products_div {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: auto;
    margin-top: 30px;

}

#products_div>div{
    width: 250px;
    margin: auto;
    border: 1px solid white;

}
img{
    width: 250px;
    height: 250px;  
}

p{
    text-align: center;
}
button{
    background-color: bisque;
    color: black;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

#products_div>div>div:nth-child(3) {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
}