 #registration_div{
    width: 30%;
    margin: auto;
    margin-top: 5rem;
}
#registration_form{
    display: flex;
    flex-direction: column;
 
}
input{
    height: 2rem;
    border: none;;
    background-color: gray;
    border-radius: 7px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
#submit_button{
    background-color: teal;
    margin-top: 1rem;
} 
#NotificationForSignUp{
    text-align: center;
    border: 1px solid red;
}

/* 
#login_form{
    width: 30%;
    margin: auto;
}
/* #login_form>div{
    display: flex;
    flex-direction: columns;
} */

.label_div {

    display: flex;
    flex-direction: column;
    }
input{
    height: 2rem;
    border: none;;
    background-color: gray;
    border-radius: 7px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
#submit_button{
    background-color: teal;
    margin-top: 1rem;

} 


::placeholder{
    color: rgb(192, 185, 185);
    font-size: 15px;
    
  }

 
 @media screen and (min-width: 541px) and (max-width:1130px) {
 
        .navbar_div{
           
               width: 100%;
               margin: auto;
             
           }
           #navbarTag{
               font-size: 20px;
           }
           #logo{
               font-size: 25px;
           }
        
           #registration_div{
        
         margin: auto;
         width: 600px;
         height: 700px;
    
           }
        
          #registration_form{
           
            width: 400px;
            text-align: center;
            font-size: 25px;
            margin: auto;
            margin-top: 50px;
          }
          ::placeholder{
            color: rgb(192, 185, 185);
            font-size: 15px;
            
          }
        
          #submit_button{
            width: 400px ;
            height: 40px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: bold;
          } 
        
        }
        


@media screen and (min-width: 280px) and (max-width:540px) {
 
.navbar_div{
   
       width: 100%;
       margin: auto;
     
   }
   #navbarTag{
       font-size: 13px;
   }
   #logo{
       font-size: 18px;
   }

    #login_div{

    margin: auto;
    width: 400px;
    height: 400px;
    }

    #registration_div{
    
    width: 300px;
    font-size: 20px;
    text-align: center;
    
}
::placeholder{
    color: rgb(192, 185, 185);
    font-size: 12px;
    
  }
    #submit_button{
    width: 150px ;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    }  

}
