*,html,body,div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-family: sans-serif;
}

.navbar_div{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    margin-bottom: 2rem;
   
}



ul {
    list-style: none;

}

li {
    margin-right: 1rem;
}

/* side box css */

#main_div{
    display: flex;
     }

     #side_box{
        margin-left: 10px;
        width: 200px;
        margin-top: 30px;
     }
     /* filter div css */
     #filter{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: auto;
    text-align: center;
    height: 30px;
    margin-top: 5px;
       
     }
     /* availiability check  */
     #Availability_MainDiv{
 
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: 60px;
     }
     #Availability_input{
        /* border: 1px solid red; */
        margin-top: 10px;
        margin-left: 10px;
     }
     #Availability_input_div{
        margin-left: 10px;
        margin-top: 10px;
     }
 
     #brand_tick_div{
        margin-top: 10px;
        margin-left: 10px;

     }
     #Brand_input_div{ 
        margin-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
     }
     #brand_tick_div{
        margin-top: 15px;
     }
     #heading{
        margin-top: 10px;
        margin-left: 7px;
        
     }
     #Category_main_Div{
        margin-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     }

/* css for product div */

#heading{
    margin-top: 30px;
    margin-left: 30px;
    
}

#products_div {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: auto;
    margin-top: 30px;
    margin-left: 1rem;

}

#products_div>div{
    width: 300px;
    margin: auto;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    
}

img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
}

button{
    background-color: rgb(82, 245, 245);
    color: black;
    padding: 1rem;
    margin-left: 0.5rem;
    border-radius: .5rem;
    border: 3px black;  
}

#products_div>div>div:nth-child(3) {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
 
}